<ion-content>
    <ion-grid *ngIf="slides[0]" class="full-height full-width">
        <ion-row>
            <ion-col size="8">
                <ion-list>
                    <ion-item *ngFor="let item of items">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="2">
                                    <img [src]="item.product.prod_img" style="width: 100px;" onerror="this.src='assets/alt-img.jpg'" />
                                </ion-col>
                                <ion-col size="7">
                                    <ion-text>{{item.product.prod_name}}</ion-text>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col size="3">
                                                <ion-button fill="clear" (click)="removeItem(item)">
                                                    <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
                                                </ion-button>
                                            </ion-col>
                                            <ion-col size="4">
                                                <ion-item>
                                                    <ion-input [(ngModel)]="item.count"></ion-input>
                                                </ion-item>
                                            </ion-col>
                                            <ion-col size="3">
                                                <ion-button fill="clear" (click)="addItem(item)">
                                                    <ion-icon name="add-circle" slot="icon-only"></ion-icon>
                                                </ion-button>
                                            </ion-col>
                                            <ion-col size="2">
                                                <ion-button fill="clear" (click)="deleteItem(item)">
                                                    <ion-icon name="close-circle" slot="icon-only" color="danger"></ion-icon>
                                                </ion-button>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="4">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            Checkout summary
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item *ngFor="let item of items">
                                <ion-grid>
                                    <ion-row>
                                        <ion-col size="10">
                                            {{item.product.prod_name}} - {{item.count}}
                                        </ion-col>
                                        <ion-col size="2">
                                            ₹{{item.count * item.product.prod_price}}
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                    <h3 class="ion-float-end">Total: ₹{{total}}</h3>
                </ion-card>
                <ion-button class="ion-float-end" (click)="setSlide(1)" style="margin-right: 0.6em">
                    Proceed with checkout
                    <ion-icon name="arrow-forward" slot="end"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="slides[1]" class="full-height full-width">
        <form [formGroup]="addressForm">
            <ion-row>
                <ion-col size="4" offset="2">
                    <ion-item>
                        <ion-label position="floating">Country</ion-label>
                        <ion-select formControlName="country" (ionChange)="setRegions()">
                            <ion-select-option *ngFor="let curr of countries">{{curr.countryName}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Region</ion-label>
                        <ion-select formControlName="region">
                            <ion-select-option *ngFor="let reg of regions">{{reg.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">City</ion-label>
                        <ion-input type="text" formControlName="city"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">PIN code</ion-label>
                        <ion-input type="number" max="9999999999" min="0" formControlName="pinCode"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>
                    <ion-grid class="ion-no-padding">
                        <ion-row>
                            <ion-col size="3">
                                <ion-item>
                                    <ion-label position="floating">Code</ion-label>
                                    <ion-select formControlName="code" [selectedText]="addressForm.get('code').value.split(',')[0]">
                                        <ion-select-option [value]="c.dial_code" *ngFor="let c of phoneCodes">{{c.name}}, {{c.dial_code}}</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                            <ion-col size="9">
                                <ion-item>
                                    <ion-label position="floating">Phone</ion-label>
                                    <ion-input type="text" [brmasker]="{type: 'num', mask: '999-999-9999'}" formControlName="phone"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-item>
                        <ion-label position="floating">Address</ion-label>
                        <ion-textarea type="text" formControlName="address" [rows]="4"></ion-textarea>
                    </ion-item>
                </ion-col>
                <ion-col size="1">
                    <ion-button (click)="fillSaved()">Fill saved data</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="1" offset="1">
                    <ion-button (click)="setSlide(0)" class="ion-float-left">
                        Cart
                        <ion-icon name="arrow-back" slot="start"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="1" offset="8">
                    <ion-button (click)="setSlide(2)" class="ion-float-right">
                        Payment
                        <ion-icon name="arrow-forward" slot="end"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
    <ion-grid *ngIf="slides[2]" class="full-height full-width">
        <ion-row class="possible-full-height">
            <ion-col size="8" offset="2">
                <div class="card-container"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="8" offset="2">
                <form card container=".card-container"
                      formatting="false"
                      debug="true"
                      [formGroup]="paymentForm">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <label class="pure-material-textfield-outlined">
                                    <input placeholder=" " card-number formControlName="number">
                                    <span>Card number</span>
                                </label>
                            </ion-col>
                            <ion-col size="6">
                                <label class="pure-material-textfield-outlined">
                                    <input placeholder=" " card-name formControlName="name" class="uppercase">
                                    <span>Card Holder's name</span>
                                </label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">
                                <label class="pure-material-textfield-outlined">
                                    <input placeholder=" " card-expiry formControlName="exp">
                                    <span>Expiry mm/yyyy</span>
                                </label>
                            </ion-col>
                            <ion-col size="6">
                                <label class="pure-material-textfield-outlined">
                                    <input placeholder=" " card-cvc formControlName="cvc">
                                    <span>CVC</span>
                                </label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </form>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="1" offset="1">
                <ion-button (click)="setSlide(1)" class="ion-float-left">
                    Address & Details
                    <ion-icon name="arrow-back" slot="start"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="1" offset="8">
                <ion-button (click)="setSlide(3)" class="ion-float-right">
                    Confirm & Pay
                    <ion-icon name="arrow-forward" slot="end"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="slides[3]" class="full-height full-width">
        <ion-row class="full-height">
            <ion-col size="12">
                <div class="center-middle full-width full-height">
                    <!--<ion-spinner></ion-spinner>-->
                    <h1 class="title">Placing order<a class="dot" #one>.</a> <a class="dot" #two>.</a> <a class="dot" #three>.</a></h1>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
