<ion-app>
    <ion-header (keydown.enter)="doSearch()">
        <ion-toolbar>
            <ion-label [routerLink]="['/home']" class="title" slot="start">
                Tool shed
            </ion-label>
            <ion-label class="navbar-item" [routerLink]="['/home']">
                Home
            </ion-label>
            <ion-buttons slot="primary">
                <ion-searchbar [debounce]="500" (ionChange)="predict($event)" [(ngModel)]="search"></ion-searchbar>
                <ion-button (click)="cart($event)">
                    <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
                </ion-button>
                <ion-button slot="primary" (click)="userIcon($event)">
                    <ion-icon slot="icon-only" name="person-circle"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-router-outlet></ion-router-outlet>
    </ion-content>
</ion-app>
