$header: 64px;
.header-md {
    height: $header;
    width: 100%;
    background-color: #ffffff;
    color: var(--ion-color-dark);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.search-products {
    z-index: 1000;
    position: absolute;
    right: 0.5em;
    top: $header;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.searchbar {
    width: 25vw;
}
.fill {
    flex: 1;
}
.title-default {
    flex: 0;
}
.pointer {
    cursor: pointer;
}
.pointer:focus {
    outline: 0;
}
