<ion-header>
    <ion-toolbar color="primary">
        <ion-title [routerLink]="['/home']" style="cursor: pointer;">
            Tool shed
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-searchbar color="secondary" [debounce]="500"></ion-searchbar>
            <ion-button>
                <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
            </ion-button>
            <ion-button slot="primary" (click)="presentPopover($event)">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-router-outlet></ion-router-outlet>
