
<ion-content>

    <ion-grid class="full-height full-width">
      <ion-row>
        <ion-col class="full-height full-width">
           
            <ion-row size-sm="2" class="center-middle disappear-phone">
              <ion-img src="{{product['prod_img']}}" style="max-width: 200px;max-height: 200px; height: auto"></ion-img>
            </ion-row>
        </ion-col>
        <ion-col>
          <ion-row size-sm="2" class="center-middle disappear-phone">
            <ion-text color="secondary">
              <h1>{{product['prod_name']}}</h1>
            </ion-text>
          </ion-row>
          <ion-row size-sm="2" class="center-middle disappear-phone">
            <ion-text color="tertiary" aria-setsize="20">
              <h1>{{product['prod_desc']}}</h1>
            </ion-text>
          </ion-row>
          <ion-row size-sm="2" class="center-middle disappear-phone">
            <ion-text color="tertiary">
              <h1>Rs.{{product['prod_price']}}</h1>
            </ion-text>
          </ion-row>
          <ion-row size-sm="2" class="center-middle disappear-phone">
            <ion-text color="tertiary">
              <h1>Rating:{{product['prod_rating']}}</h1>
            </ion-text>
          </ion-row>
        
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
