ion-item.selected {
    --background: rgba(var(--ion-color-dark-rgb), 0.14);
}
ion-item.selected ion-icon {
    color: var(--ion-color-dark);
}
ion-item.selected ion-icon {
    color: var(--ion-color-dark);
}
ion-item.selected {
    --color: var(--ion-color-dark);
}
